.section {
    @include sectionDefault;
    margin-top: 25px;
    min-height: 500px;
}

.content {
    margin-top: 50px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .item {
        flex-basis: 23%;
    }
}

.card {
    margin-top: 60px;
    padding: $pc-card-padding;
    flex-basis: 25%;
    color: #fff;
    background-color: black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;

    .cardTop {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            font-size: 22px;
        }

        img {
            height: 30px;
        }
    }

    .cardBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 40px;

        .cardNumber {
            font-size: 20px;
            letter-spacing: 4px;
        }

        .cvv {
            padding: 10px 20px;
            color: #fff;
            background-color: rgb(50, 50, 50);
            border-radius: 16px;
            font-size: 12px;
            letter-spacing: 2.5px;
        }
    }
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 0 30px 1px hsla(0, 0%, 0%, 0.103);

    button {
    }

    .primary {
        padding: 15px 25px;
        background-color: gold;
        border-radius: 32px;
    }
}
