.section {
    @include sectionDefault;
    width: calc(58% - $pc-section-padding * 2);

    .title {
        @include header;
    }

    .balance {
        display: inline-block;
        margin-top: 20px;
        font-weight: 500;
        font-size: 80px;
    }

    .currency {
        margin-left: 20px;
        font-size: 20px;
        color: $secondary-color;
    }

    .buttonContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 30px;

        button {
            gap: 10px;
            flex-basis: 30%;
        }
    }
}
